
<button type="button" class="btn btn-outline-primary" (click)="onClick()">Create New Event</button>
<div class="input-group mb-3">
     <span class="input-group-text" id="basic-addon1">Search</span>
     <input [ngModel]="searchText" (ngModelChange)="filterList($event)" >
</div>
<!--ngFor to render the event comp for every item in the list-->


  <div class="event-list">
     <!--    rendering the event-->
    <app-event
      *ngFor="let eventData of displayList"
      [event]="eventData"
    ></app-event>
    <!--    set up event comp-->
     <!--    eventData (this data passing to the)Event (event bucket)-->
  </div>

