
<div>
  <div>
    <label class="input-group mb-3">
      EventDate:<input [(ngModel)]="EventDate" type="date">

    </label>
  </div>

  <div>
    <label class="input-group mb-3">
      EventTitle:<input [(ngModel)]="EventTitle">

    </label>
  </div>

  <div>
    <label class="input-group mb-3">
      EventDescription:<input [(ngModel)]="EventDescription">

    </label>
  </div>

  <button (click)="onCancelClick()" class="btn btn-danger"> Cancel </button>
  <button (click)="onSubmitClick()" class="btn btn-success">Submit</button>

</div>

