<!--<div>-->
<!--  <label>-->
<!--    email:<input [(ngModel)]="event.email">-->
<!--  </label>-->
<!--</div>-->
<div>
  <div>
    <label>
      EventDate:<input [(ngModel)]="EventDate" type="date">

    </label>
  </div>

  <div>
    <label>
      EventTitle:<input [(ngModel)]="EventTitle">

    </label>
  </div>

  <div>
    <label>
      EventDescription:<input [(ngModel)]="EventDescription">

    </label>
  </div>

  <button (click)="onCancelClick()"> Cancel </button>
  <button (click)="onSubmitClick()">Submit</button>

</div>

