<div>
  <app-login
    *ngIf="isLoggedIn  === false"
    (onLogin)="onLogin($event)"
  ></app-login>

  <app-new-user
    *ngIf=" isCreateNew === false"

  ></app-new-user>


</div>



<!--(onCreate)="onUserClick($event)"-->
<!--<app-login-->
<!--  *ngIf=" isCreateNew === false"-->
<!--&gt;</app-login>-->


<div *ngIf="isLoggedIn === true ">

<!--  <app-new-user-->
<!--    *ngIf=" isCreateNew === true"-->
<!--  ></app-new-user>-->


  <app-event-list
      *ngIf = "selectedEvent === null "

   ></app-event-list>

   <app-event-input
      *ngIf= " selectedEvent  !== null"
      [event]="selectedEvent"
   ></app-event-input>

<!--  <app-new-user-->
<!--    (onSubmit)="onSubmiClick($event)"-->
<!--  ></app-new-user>-->
</div>

<!--<div *ngIf=" isCreateNew === true">-->

<!--  <app-login-->
<!--    *ngIf="selectedUser === null"-->
<!--  ></app-login>-->

<!--&lt;!&ndash;  <app-new-user&ndash;&gt;-->
<!--&lt;!&ndash;    *ngIf="selectedUser !== null"&ndash;&gt;-->
<!--&lt;!&ndash;    [user] = "selectedUser"&ndash;&gt;-->

<!--&lt;!&ndash;  ></app-new-user>&ndash;&gt;-->
<!--</div>-->
<!--<app-user-input>-->

<!--</app-user-input>-->







