<div>
  <app-login
    *ngIf="isLoggedIn  === false"
    (onLogin)="onLogin($event)"
    (onCreate)="onUserClick($event)"
  ></app-login>

  <app-new-user
    *ngIf=" isCreateNew === false"
  ></app-new-user>

</div>

<div *ngIf="isLoggedIn === true ">

  <app-event-list
      *ngIf = "selectedEvent === null "

   ></app-event-list>

   <app-event-input
      *ngIf= " selectedEvent  !== null"
      [event]="selectedEvent"
   ></app-event-input>
</div>



<div *ngIf=" isCreateNew === true">

  <app-new-user
    *ngIf="selectedUser !== null"
    [user] = "selectedUser"

  ></app-new-user>
</div>








